.filag{

height: 5%;
background-color: green;

}



.filadg{
    height: 4%;
    background-color: green;
}

.fidocun{
background-color: red;

}

.fidocdos{
    background-color: rgb(245, 245, 245);
}



.filarosa{
height: 50px;
background-color: pink;

}

.cua{
height: 90px;
background-color: rgb(254, 255, 192);
border:  1px solid black;
}


.cuapq{
background-color: blue;
border: solid 1px black;
height: 30px;
}