.filag{

height: 6%;
background-color: green;

}



.filadg{
    height: 5%;
    background-color: green;
}

.fidocun{
background-color: red;
overflow: hidden;
}

.fidocdos{
    background-color: rgb(245, 245, 245);

}



.filarosa{
height: 51px;
background-color: pink;

}

.cua{
height: 91px;
background-color: rgb(254, 255, 192);
border:  1px solid black;
}


.cuapq{
background-color: blue;
border: solid 1px black;
height: 31px;
}
#carouselExampleControls{

    height: 15%;
}