.filag{
height: 6%;
}



.filadg{
    height: 5%;
}

.fidocun{
    overflow: hidden;
    background-image: url(/img/fondo-removebg-preview.png);

}





.filarosa{
height: 51px;
background-color: pink;

}

.cua{
height: 91px;
background-color: rgb(254, 255, 192);
border:  1px solid black;
}


.cuapq{
background-color: blue;
border: solid 1px black;
height: 31px;
}
#carouselExampleControls{

    height: 15%;
}

.carousel-item img {
    width: 200px; 
    height: 400px; 
    object-fit: cover;

s}