/* Estilos CSS */
.m-1{
    height: 4%;
}


.m-2{
    background-color: rgb(255, 255, 255);

    height: 25%;
}


.c1{
    background-color: rgb(179, 243, 245);
    height: 100%;

}

.filag{

height: 100;
background-color: green;

}


.c2{
  background-color: rgb(255, 255, 255);
}


.col-10{
    height: 100%;
}
.m-3{
    height: 15%;
    background-color: rgb(212, 62, 200); 
}


.c6{
    background-color: rgb(212, 62, 62);
  
}
